body{
    background: #ffffff url(http://www.unesourisetmoi.info/data/images/photos/054/fonds-ecran_toutes_couleurs_06.jpg);
    font-family: Verdana;
    font-weight: bold;
    color: white;

}
table{
    font-family:Verdana;
    font-size:25px
	
}
.titres{
font-size:45px;
font-weight:strong;
color=white;
}

